.user-details{
    margin: 2rem auto 4rem;
    width: 50vw;
    padding: 2rem;
    box-shadow: 0 0.3rem 0.3rem 0.3rem gray;
    background-color: #fff;
    border-radius: 0.5rem;
    
    h1{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 0.5rem;
        color: navy;
        margin: 2rem auto;
    }
    
    button{
        border: none;
        outline: none;
        font-size: 1rem;
        transition: 0.2s ease all;
        
        &:hover{
            text-decoration: underline;
            translate: -5% 0;
            cursor: pointer;
            color: navy;
        }
    }
    
    img{
        width: 50%;
        margin: 1rem auto;
        object-fit: contain;
        display: block;
    }
}

.meta-data{
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
    gap: 2rem;

    article{
        font-family: serif;
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .user-details{
        width: 80%;
    }
}