<app-header (searchUser)="filterUsers($event)"></app-header>
<dialog open="true" *ngIf="filteredUsers.length === 0">
    <i class="fas fa-face-sad-tear"></i>
    <p>No user found</p>
</dialog>
<dialog *ngIf="users.length === 0" open="true">
    <i class="fas fa-spinner"></i>
    <p>Loading data...</p>
</dialog>
<div class="pagination">
    <button (click)="loadUsers(currentPage - 1)" [disabled]="currentPage === 1"><i
            class="fas fa-arrow-left"></i></button>
    <span>Page {{ currentPage }}</span>
    <button (click)="loadUsers(currentPage + 1)"><i class="fas fa-arrow-right"></i></button>
</div>
<section id="users-list">
    <a class="card" *ngFor="let user of filteredUsers" (click)="viewUserDetails(user.id)">
        <img [src]="user.avatar" alt="Avatar image">
        <div class="user-info">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <strong>User #{{user.id}}</strong>
        </div>
    </a>
</section>
