* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 30%;
    height: 15vh;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 4rem;
    padding: 2rem 0;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1rem 1rem gray;
}

dialog i {
    animation: spinner 1.5s linear 0s infinite forwards normal;
    color: navy;
}

@keyframes spinner {
    from {
        rotate: 0
    }

    to {
        rotate: 360deg
    }
}